@charset "utf-8";

/* ----- General ----- */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 2000px;	
  margin: 0 auto;
  padding: 0px 50px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Outfit', sans-serif;
}
h1 {
	font-size: 4rem;							/* Checked School Laptop */
	color: #212427;
}
h2 {
	font-size: 1.5rem;
	display: flex;
	width: 100%;
	align-items: center;
	margin-bottom: 75px;
}
h2::after {
	content: '';
	flex: 1 0 20px;
	margin: 0 0 0 20px;
}
p, div, a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
}
a {
	text-decoration: none;
}
p {
	line-height: 1.875rem;						/* Checked School Laptop */
	color: #22262D;
}
section#about, section#education, section#experiences {
	padding: 100px 0;
}
.japanese {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
.small {
	font-size: 0.875rem;
}


/* ----- Header ----- */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;									/* Checked School Laptop */
	background-color: #fff;
	border-bottom: 1px solid rgba(33, 36, 39, .3);
	z-index: 999;
}
header nav {
	width: 100%;
	height: 100%;
}
header nav .container {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-between;
}
header nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
header nav ul li a {
	display: inline-block;
	height: 70px;							/* Checked School Laptop */
	line-height: 70px;				/* Checked School Laptop */
	text-align: center;
	padding: 0 25px 0 15px;
	font-weight: 400;
	color: #212427;
	position: relative;
}
header nav ul li a::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 4px;
	border-radius: 2px;
	background-color: #C6F0FD;
	height: 0px;
  transition: all .3s ease-in-out;
}
header nav ul li a:hover::before {
	height: 20px;
}
header nav ul li:last-child a {
	padding-right: 0px;
}
.site-logo a {
	font-size: 1.4rem;
	font-weight: 700;
	color: #212427;
}
/* ----- Header - Mobile Toggle Menu ----- */
#toggle-menu {
	display: none;
}
#toggle-menu + label {
	position: relative;
	display: none;
	width: 70px;							/* Checked School Laptop */
	height: 70px;							/* Checked School Laptop */
	overflow: hidden;
	background-color: transparent;
	transition: all 10ms ease-in-out;
}
#toggle-menu + label span {
	position: absolute;
	display: block;
	background-color: #212427;
	width: 34px;
	height: 4px;
	border-radius: 2px;
	right: 50%;
	transform: translate(50%, -50%);
	transition: all 300ms ease-in-out;
}
#toggle-menu + label span:nth-child(1) {
	top: 35%;
}
#toggle-menu + label span:nth-child(2) {
	top: 50%;
}
#toggle-menu + label span:nth-child(3) {
	top: 65%;
}
#toggle-menu:checked + label {
	background-color: #212427;
}
#toggle-menu:checked + label span {
	background-color: #fcfcfc;
}
/* Transform the bars into an 'X' */
#toggle-menu:checked + label span:nth-child(1) {
	top: 50%;
	transform: translate(50%, -50%) rotate(45deg); /* center, then rotate */
}
#toggle-menu:checked + label span:nth-child(2) {
	right: -150%; /* move center bar out of the picture */
}
#toggle-menu:checked + label span:nth-child(3) {
	top: 50%;
	transform: translate(50%, -50%) rotate(-45deg); /* center, then rotate */
}


/* ----- Banner ----- */
#banner {
	width: 100%;
	height: 100vh;
}
#banner .container {
	position: relative;		/* for scroll down */
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
	height: 100%;
	background: url("../images/banner_background.svg") no-repeat fixed left bottom;
	background-size: cover;
}
#banner .banner-intro, #banner .banner-name {
	padding: 8px 0;
}
#banner .banner-intro {
	font-size: 1.25rem;
}
#banner .banner-description {
	width: 45%;
	padding: 8px 0;
}
#banner .banner-name {
	position: relative;
}
#banner .banner-name::before {
  content: '';
  background-color: #C6F0FD;
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 0;
  height: 35%;
  z-index: -1;
  transition: all .7s ease-in-out;
}
#banner .banner-name:hover::before {
	width: 100%;
}
/* ----- Banner - Scroll Down ----- */
#banner .scroll-wrap {
	position: absolute;
	right: 50px;
	bottom: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#banner .scroll-text {
	text-transform: uppercase;
	letter-spacing: 3px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	color: #efefef;
	font-size: 0.625rem;
	margin-bottom: 3px;
}
.scroll-bar{
	width: 1px;
	height: 30px;
	background: #efefef;
	animation: scrollDown 3s ease infinite;
}
@keyframes scrollDown{
	0%{
			transform-origin: top;
			transform: scaleY(0);
	}
	45%{
			transform-origin: top;
			transform: scaleY(1);
	}
	55%{
			transform-origin: bottom;
			transform: scaleY(1);
	}
	100%{
			transform-origin: bottom;
			transform: scaleY(0);
	}
}


/* ----- About ----- */

#about .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#about h2 {
	color: #212427;
}
#about h2::after {
	border-top: 0.6px solid rgba(33, 36, 39, .3);
}
#about .image-wrap {
	width: 50%;
	text-align: center;
}
#about .image-wrap img {
	width: 50%;
	border-radius: 20px;
}
#about .text-wrap {
	width: 50%;
}
#about .text-wrap p {
	padding: 20px 0;
}
#about .text-wrap table {
	width: 100%;
	padding-bottom: 20px;
}
#about .text-wrap table th {
	text-align: left;
}
#about .text-wrap table td {
	vertical-align: top;
}
#about .text-wrap .small {
	padding-bottom: 10px;
}


/* ----- Education ----- */
#education {
	background-color: #212427;
}
#education h2 {
	color: #f1f1f1;
}
#education h2::after {
	border-top: 0.6px solid rgba(252, 252, 252, .3);
}
#education .timeline-card {
	position: relative;
}
#education .timeline-card::before {
	content: '';
	position: absolute;
	left: 8.5px;
	top: 9px;
	width: 1px;
	height: 100%;
	background-color: #efefef;
}
#education .timeline-title {
	color: #efefef;
	position: relative;
	margin-bottom: 15px;
	font-size: 1.525rem;
}
#education .timeline-title::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 17px;
	height: 17px;
	border-radius: 8.5px;
	background-color: #e2e2e2;
  transition: background .3s ease-in-out;
}
#education .timeline-title, #education .timeline-subtitle, #education .timeline-explanation {
	padding-left: 60px;
}
#education .timeline-subtitle {
	color: #efefef;
	margin-bottom: 30px;
	font-size: 1.1rem;
  transition: color .3s ease-in-out;
}
#education .timeline-card:hover .timeline-title::before {
	background-color: #C6F0FD;
}
#education .timeline-card:hover .timeline-subtitle {
	color: #C6F0FD;
}
#education .timeline-explanation {
	color: rgba(252, 252, 252, .3);
	padding-bottom: 60px;
	line-height: 1.875rem;	
}
#education .timeline-card:last-child .timeline-explanation {
	padding-bottom: 0px;
}
#education .timeline-card:last-child .timeline-title::before {
	animation: pulseAnimation 3s infinite;
}
@keyframes pulseAnimation {
	0% {
    box-shadow: 0 0 0 0px rgba(252, 252, 252, .3);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(252, 252, 252, .3);
  }
}


/* ----- Experiences ----- */
#experiences h2 {
	color: #212427;
	margin-bottom: 15px;
}
#experiences h2::after {
	border-top: 0.6px solid rgba(33, 36, 39, .3);
}
#experiences .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 60px;
}
#experiences .text-wrap, #experiences .image-wrap {
	width: 50%;
}
#experiences .text-wrap h3 {
	font-size: 1.3rem;
	margin-bottom: 15px;
}
#experiences .text-wrap .text-place-time {
	font-size: 1.1rem;
	margin-bottom: 30px;
	font-weight: 500;
}
#experiences .text-wrap .text-explanation {
	line-height: 1.875rem;	
	width: 75%;
	margin-bottom: 30px;
}
#experiences .text-wrap .text-explanation ul {
	padding-left: 20px;
}
#experiences .image-wrap {
	position: relative;
	text-align: center;
}
#experiences .image-wrap img {
	width: 90%;
	transition: all .6s ease-in-out;
}
#experiences .image-wrap .image-title {
	position: absolute;
	left: 0;
	bottom: 20%;
	padding: 15px 30px;
	color: #212427;
	border-radius: 10px;
	background: rgba( 252, 252, 252, 0.3);
	border: 1px solid rgba( 255, 255, 255, 0.3);
	box-shadow: 0 3px 10px 10px rgba(33, 36, 39, .05);
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.5px;
	backdrop-filter: blur(6px);
	transition: all .6s ease-in-out;
	z-index: 10;
}
#experiences .image-wrap:hover img {
	transform: translateY(-5px);
}
#experiences .image-wrap:hover .image-title {
	transform: translateY(5px);
}
#experiences .order-1 {
	order: 1;
}
#experiences .order-2 {
	order: 2;
}
#experiences .order-3 {
	order: 3;
}
#experiences .order-4 {
	order: 4;
}
#experiences .order-5 {
	order: 5;
	padding-left: 30px;
}


