@charset "utf-8";

/* ----- General ----- */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 2000px;	
  margin: 0 auto;
  padding: 0px 50px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Outfit', sans-serif;
}
h1 {
	font-size: 4rem;							/* Checked School Laptop */
}
h2 {
	font-size: 1.5rem;
	display: flex;
	width: 100%;
	align-items: center;
	margin-bottom: 80px;
}
h2::after {
	content: '';
	flex: 1 0 20px;
	margin: 0 0 0 20px;
}
h2.primary-dark::after {
	border-top: 0.6px solid rgba(33, 36, 39, .3);
}
h2.primary-light::after {
	border-top: 0.6px solid rgba(252, 252, 252, .3);
}
h3 {
	font-size: 1.525rem;
	margin-bottom: 15px;
}
h4 {
	font-size: 1.3rem;
	margin-bottom: 15px;
}
p, div, a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
}
a {
	text-decoration: none;
}
p, .explanation {
	line-height: 1.875rem;						/* Checked School Laptop */
}
section#about, section#education, section#experiences, section#favourites {
	overflow: hidden;
	padding: 100px 0;
}
.japanese {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
.small {
	font-size: 0.875rem;
}
/* ----- Color ----- */
.primary-dark { color: #212427; }
.secondary-dark { color: #233140; }
.primary-light { color: #f1f1f1; }
.secondary-light { color: #efefef; }
.transparent-dark { color: rgba(33, 36, 39, .3); }
.transparent-light { color: rgba(252, 252, 252, .3); }
.background-dark { background-color: #212427; }
.background-light { background-color: #fff; }
.text-link { color: #3C6E7D; }
.text-link:hover { 	opacity: 0.7; }

/* ----- Order ----- */
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }

/* ----- Header ----- */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;									/* Checked School Laptop */
	border-bottom: 1px solid rgba(33, 36, 39, .3);
	z-index: 9999;
}
header nav {
	width: 100%;
	height: 100%;
}
header nav .container {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-between;
}
header nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
header nav ul li a {
	display: inline-block;
	height: 70px;							/* Checked School Laptop */
	line-height: 70px;				/* Checked School Laptop */
	text-align: center;
	padding: 0 25px 0 15px;
	font-weight: 400;
	color: #212427;
	position: relative;
}
header nav ul li a::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 4px;
	border-radius: 2px;
	background-color: #C6F0FD;
	height: 0px;
  transition: all .3s ease-in-out;
}
header nav ul li a:hover::before {
	height: 20px;
}
header nav ul li:last-child a {
	padding-right: 0px;
}
.site-logo a {
	font-size: 1.4rem;
	font-weight: 700;
}
/* ----- Header - Mobile Toggle Menu ----- */
#toggle-menu {
	display: none;
}
#toggle-menu + label {
	position: relative;
	display: none;
	width: 70px;							/* Checked School Laptop */
	height: 70px;							/* Checked School Laptop */
	overflow: hidden;
	background-color: transparent;
	transition: all 10ms ease-in-out;
}
#toggle-menu + label span {
	position: absolute;
	display: block;
	background-color: #212427;
	width: 34px;
	height: 4px;
	border-radius: 2px;
	right: 50%;
	transform: translate(50%, -50%);
	transition: all 300ms ease-in-out;
}
#toggle-menu + label span:nth-child(1) {
	top: 35%;
}
#toggle-menu + label span:nth-child(2) {
	top: 50%;
}
#toggle-menu + label span:nth-child(3) {
	top: 65%;
}
#toggle-menu:checked + label {
	background-color: #212427;
}
#toggle-menu:checked + label span {
	background-color: #efefef;
}
/* Transform the bars into an 'X' */
#toggle-menu:checked + label span:nth-child(1) {
	top: 50%;
	transform: translate(50%, -50%) rotate(45deg); /* center, then rotate */
}
#toggle-menu:checked + label span:nth-child(2) {
	right: -150%; /* move center bar out of the picture */
}
#toggle-menu:checked + label span:nth-child(3) {
	top: 50%;
	transform: translate(50%, -50%) rotate(-45deg); /* center, then rotate */
}


/* ----- Banner ----- */
#banner {
	width: 100%;
	height: 100vh;
}
#banner .container {
	position: relative;		/* for scroll down */
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
	height: 100%;
	background: url("../images/banner_background.svg") no-repeat fixed left bottom;
	background-size: cover;
}
#banner .banner-intro, #banner .banner-name {
	margin-bottom: 15px;
}
#banner .banner-intro {
	font-size: 1.25rem;
}
#banner .banner-description {
	width: 45%;
}
#banner .banner-name {
	position: relative;
}
#banner .banner-name::before {
  content: '';
  background-color: #C6F0FD;
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 0;
  height: 35%;
  z-index: -1;
  transition: all .7s ease-in-out;
}
#banner .banner-name:hover::before {
	width: 100%;
}
/* ----- Banner - Scroll Down ----- */
#banner .scroll-wrap {
	position: absolute;
	right: 50px;
	bottom: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#banner .scroll-text {
	text-transform: uppercase;
	letter-spacing: 3px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	color: #efefef;
	font-size: 0.625rem;
	margin-bottom: 3px;
}
.scroll-bar{
	width: 1px;
	height: 30px;
	background: #efefef;
	animation: scrollDown 3s ease infinite;
}
@keyframes scrollDown{
	0%{
			transform-origin: top;
			transform: scaleY(0);
	}
	45%{
			transform-origin: top;
			transform: scaleY(1);
	}
	55%{
			transform-origin: bottom;
			transform: scaleY(1);
	}
	100%{
			transform-origin: bottom;
			transform: scaleY(0);
	}
}


/* ----- About ----- */

#about .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#about .image-wrap {
	width: 50%;
	text-align: center;
}
#about .image-wrap img {
	width: 50%;
	border-radius: 20px;
}
#about .text-wrap {
	width: 50%;
}
#about .text-wrap p {
	margin-bottom: 30px;
}
#about .text-wrap table {
	width: 100%;
}
#about .text-wrap table th {
	text-align: left;
	color:  #212427;
}
#about .text-wrap table td {
	vertical-align: top;
	color: #233140;
}
#about .text-wrap .small {
	padding-bottom: 10px;							/* Checked School Laptop */
}


/* ----- Education ----- */
#education .timeline-card {
	position: relative;
}
#education .timeline-card::before {
	content: '';
	position: absolute;
	left: 8.5px;
	top: 9px;
	width: 1px;
	height: 100%;
	background-color: #efefef;
}
#education .timeline-title {
	color: #f1f1f1;
	position: relative;
}
#education .timeline-title::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 17px;
	height: 17px;
	border-radius: 8.5px;
	background-color: #efefef;
  transition: background .3s ease-in-out;
}
#education .timeline-title, #education .timeline-subtitle, #education .explanation {
	padding-left: 60px;
}
#education .timeline-subtitle {
	color: #efefef;
	margin-bottom: 30px;
	font-size: 1.1rem;
  transition: color .3s ease-in-out;
}
#education .timeline-card:hover .timeline-title::before {
	background-color: #C6F0FD;
}
#education .timeline-card:hover .timeline-subtitle {
	color: #C6F0FD;
}
#education .explanation {
	color: rgba(252, 252, 252, .3);
	padding-bottom: 60px;
	line-height: 1.875rem;	
}
#education .timeline-card:last-child .explanation {
	padding-bottom: 0px;
}
#education .timeline-card:last-child .timeline-title::before {
	animation: pulseAnimation 3s infinite;
}
@keyframes pulseAnimation {
	0% { box-shadow: 0 0 0 0px rgba(252, 252, 252, .3); }
  100% { box-shadow: 0 0 0 10px rgba(252, 252, 252, .3); }
}


/* ----- Experiences ----- */
#experiences .card-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 60px;
}
#experiences .text-wrap, #experiences .image-wrap {
	width: 50%;
}
#experiences .text-wrap .text-place-time {
	font-size: 1.1rem;
	margin-bottom: 30px;
	font-weight: 500;
}
#experiences .text-wrap .explanation {
	width: 75%;
	margin-bottom: 30px;
}
#experiences .text-wrap .explanation ul {
	padding-left: 20px;
}
#experiences .image-wrap {
	position: relative;
	text-align: center;
}
#experiences .image-wrap img {
	width: 90%;
	transition: all .6s ease-in-out;
}
#experiences .image-wrap .image-title {
	position: absolute;
	left: 0;
	bottom: 20%;
	padding: 15px 30px;
	border-radius: 10px;
	background: rgba( 252, 252, 252, 0.3);
	border: 1px solid rgba( 255, 255, 255, 0.3);
	box-shadow: 0 3px 10px 10px rgba(33, 36, 39, .05);
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.5px;
	backdrop-filter: blur(6px);
	transition: all .6s ease-in-out;
	z-index: 10;
}
#experiences .image-wrap:hover img {
	transform: translateY(-5px);
}
#experiences .image-wrap:hover .image-title {
	transform: translateY(5px);
	box-shadow: 0 3px 10px 10px rgba(198, 240, 253, .3);
}
#experiences .order-4 {
	padding-left: 30px;
}


/* ----- Favourites ----- */
#favourites .gallery-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 120px;
}
#favourites .text-left-wrap {
	width: 40%;
	padding-right: 30px;
}
#favourites .text-left-wrap h3 span, #favourites .text-right-wrap h3 span {
	width: 30px;
	display: inline-block;
}
#favourites .text-left-wrap .explanation, #favourites .text-right-wrap .explanation {
	margin-left: 30px;
}
#favourites .text-right-wrap {
	width: 60%;
	margin-left: -10%;
	height: 180px;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgba( 252, 252, 252, 0.5);
	backdrop-filter: blur(6px);
	border: 1px solid rgba( 255, 255, 255, 0.5);
	border-radius: 10px;
}
#favourites .text-right-wrap h3 {
	color: #212427;
}
#favourites .text-right-wrap .explanation {
	color: rgba(33, 36, 39, .7);
}
#favourites .image-right-wrap-3, #favourites .slideshow {
	width: 60%;
}
#favourites .image-right-wrap-3 {
	display: flex;
	flex-wrap: wrap;
	height: 150px;
	column-gap: 30px;	
}
#favourites .image-right-wrap-3 .image {
	flex-grow: 1;
	border-radius: 10px;
	transition: transform .3s ease-in-out;
}
#favourites .image-right-wrap-3 .image:hover {
	transform: translateY(-5px);
}
#favourites .image-right-wrap-3 .image:nth-child(1) {
	background: linear-gradient(rgba(33, 36, 39, .1), rgba(33, 36, 39, .4)), url("../images/favourites-sushi-1.jpg") no-repeat center;
	background-size: cover;
}
#favourites .image-right-wrap-3 .image:nth-child(2) {
	background: linear-gradient(rgba(33, 36, 39, .1), rgba(33, 36, 39, .4)), url("../images/favourites-sushi-2.jpg") no-repeat center;
	background-size: cover;
}
#favourites .image-right-wrap-3 .image:nth-child(3) {
	background: linear-gradient(rgba(33, 36, 39, .1), rgba(33, 36, 39, .4)), url("../images/favourites-sushi-3.jpg") no-repeat center;
	background-size: cover;
}
#favourites .image-left {
	width: 50%;
	height: 300px;
	background: linear-gradient(rgba(33, 36, 39, .1), rgba(33, 36, 39, .4)), url("../images/favourites-japanese.jpg") no-repeat center;
	background-size: cover;
	border-radius: 10px;
}
#favourites .slideshow {
	height: 300px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
#favourites .slideshow .image {
	width: 100%;
	height: 100%;
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	-webkit-animation: imageAnimation 42s linear infinite 0s;
	-moz-animation: imageAnimation 42s linear infinite 0s;
	animation: imageAnimation 42s linear infinite 0s;
}
#favourites .slideshow .title {
	z-index: 1000;
	position: absolute;
	bottom: 25px;
	right: 25px;
	opacity: 0;
	-webkit-animation: titleAnimation 42s linear infinite 0s;
	-moz-animation: titleAnimation 42s linear infinite 0s;
	animation: titleAnimation 42s linear infinite 0s;
}
#favourites .slide:nth-child(1) .image {
	background-image: linear-gradient(rgba(33, 36, 39, .05), rgba(33, 36, 39, .4)), url("../images/favourites-explore-1.jpg");
}
#favourites .slide:nth-child(2) .image {
	background-image: linear-gradient(rgba(33, 36, 39, .05), rgba(33, 36, 39, .4)), url("../images/favourites-explore-2.jpg");
}
#favourites .slide:nth-child(3) .image {
	background-image: linear-gradient(rgba(33, 36, 39, .05), rgba(33, 36, 39, .4)), url("../images/favourites-explore-3.jpg");
}
#favourites .slide:nth-child(4) .image {
	background-image: linear-gradient(rgba(33, 36, 39, .05), rgba(33, 36, 39, .4)), url("../images/favourites-explore-4.jpg");
}
#favourites .slide:nth-child(5) .image {
	background-image: linear-gradient(rgba(33, 36, 39, .05), rgba(33, 36, 39, .4)), url("../images/favourites-explore-5.jpg");
}
#favourites .slide:nth-child(6) .image {
	background-image: linear-gradient(rgba(33, 36, 39, .05), rgba(33, 36, 39, .4)), url("../images/favourites-explore-6.jpg");
}
#favourites .slide:nth-child(7) .image {
	background-image: linear-gradient(rgba(33, 36, 39, .05), rgba(33, 36, 39, .4)), url("../images/favourites-explore-7.jpg");
}
#favourites .slide:nth-child(2) .image, #favourites .slide:nth-child(2) .title {
	animation-delay: 6s;
}
#favourites .slide:nth-child(3) .image, #favourites .slide:nth-child(3) .title {
	animation-delay: 12s;
}
#favourites .slide:nth-child(4) .image, #favourites .slide:nth-child(4) .title {
	animation-delay: 18s;
}
#favourites .slide:nth-child(5) .image, #favourites .slide:nth-child(5) .title {
	animation-delay: 24s;
}
#favourites .slide:nth-child(6) .image, #favourites .slide:nth-child(6) .title {
	animation-delay: 30s;
}
#favourites .slide:nth-child(7) .image, #favourites .slide:nth-child(7) .title {
	animation-delay: 36s;
}
@keyframes imageAnimation { 
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	8% {
		opacity: 1;
		transform: scale(1.05);
		animation-timing-function: ease-out;
	}
	17% { opacity: 1; transform: scale(1.1); }
	25% { opacity: 0; transform: scale(1.1); }
	100% { opacity: 0 }
}
	@keyframes titleAnimation { 
		0% { opacity: 0; }
		8% { opacity: 1; }
		17% { opacity: 1; }
		19% { opacity: 0 }
		100% { opacity: 0 }
	}